.common{
    position: absolute;
}

.bodycolor{
    color: brown;
}

.footer{
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    font-size: 14px;
    color: brown;
    text-align: center;
    border-top: solid 1px #999999;
}

.fantasyfont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

H2{
    color: rgb(122, 29, 29);
}

.italics{
    font-style:italic
}

body{
    background-color: rgb(230, 155, 15);
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.mainbody{
    top: 114px;
    border-top: solid 1px #999999;
}

a:visited{
    color: whitesmoke;
}

.rightalign{
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }